
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}



header {
grid-area: h
}
footer{
grid-area: f
};
article{
grid-area: ar;
}
aside{
grid-area: as;
}
nav{
grid-area: n;
}

main
{display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
'h n n'
'as f ar'

}